/*
  Main Cart styles
*/

div.vibracart{
  position: static;   /*  this is controlled by cartposition in settings.js   */
  overflow: hidden;
	visibility: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: black solid 1px;
	background-color: #ffffff;
	z-index: 999;
}
div.vibracart_content{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
/*
  overflow: auto;
*/
  overflow-x: hidden;
  overflow-y: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
}
div.vibracart_fade{
  overflow: hidden;
	visibility: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #ffffff;
}
div.vibracart_waiting{
  position: absolute;   /*  Don't adjust as this is controlled by cartposition in settings.js   */

  overflow: hidden;
  visibility: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}
div.vibracart_alert{
  position: absolute;   /*  Don't adjust as this is controlled by cartposition in settings.js   */
  overflow: hidden;
  visibility: hidden;
  padding: 50px 0 0 0;
	margin: 0 0 0 0;
  z-index: 1001;
}
p.vibracart_alerterror{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: red;
	font-weight: bold;
  margin: 0px 20px 5px 5px;
  line-height: normal;
  padding: 0 0 0 0;
  background-color: white;
}
p.vibracart_alertmessage{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: navy;
	font-weight: bold;
  margin: 0px 20px 5px 5px;
  line-height: normal;
  padding: 0 0 0 0;
  background-color: white;
}
div.vibracart_header{
  overflow: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
  background-color: black;
  height: 20px;
}
div.vibracart_closebutton{
  overflow: hidden;
  float: right;
	padding: 0 0 0 0;
	margin: 2px 2px 2px 0px;
  background-color: black;
}
img.vibracart_closebutton{
  cursor: pointer;
}
div.vibracart_footer{
  overflow: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
  background-color: black;
  height: 30px;
}
div.vibracart_continuebutton{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0px 0 5px;
  background-color: black;
}
img.vibracart_continuebutton{
  cursor: pointer;
}
div.vibracart_updatebutton{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0px 0 3px;
  background-color: black;
}
img.vibracart_updatebutton{
  cursor: pointer;
}
div.vibracart_checkoutbutton{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0 0px 3px;
  background-color: black;
}
img.vibracart_checkoutbutton{
  cursor: pointer;
}
div.vibracart_total{
  float: right;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
	margin: 5px 10px 5px 0;
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
div.vibracart_terms{
  overflow: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
  background-color: black;
  height: 20px;
}
div.vibracart_termscheckbox{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0 0 5px;
  background-color: black;
}
input.vibracart.termscheckbox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 2em;
	background-color: white;
	border: black solid 1px;
}
div.vibracart_termslink{
  overflow: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
  background-color: black;
}
a.vibracart_termslink{
  float: left;
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
	vertical-align: left;
}
a.vibracart_termslink:link{
  float: left;
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
	vertical-align: left;
}
a.vibracart_termslink:visited{
  float: left;
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
	vertical-align: left;
}
a.vibracart_termslink:hover{
  float: left;
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
	vertical-align: left;
}
a.vibracart_termslink:active{
  float: left;
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #fffff;
	font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
	vertical-align: left;
}
div.vibracart_coupon{
  overflow: hidden;
	padding: 0px 0 0 0px;
	margin: 0 0 0 0;
  background-color: black;
  height: 25px;
}
div.vibracart_coupontextbox{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0 0 5px;
  background-color: black;
}
input.vibracart_coupontextbox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 7em;
	background-color: white;
	border: black solid 1px;
}
div.vibracart_applybutton{
  overflow: hidden;
  float: left;
	padding: 0 0 0 0;
	margin: 3px 0 0px 3px;
  background-color: black;
}
img.vibracart_applybutton{
  cursor: pointer;
}
.vibracart_table{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
/*
  overflow-x: hidden;
  overflow-y: auto;
*/
}
tr.vibracart_item_odd{
  background-color: #ffffff;
}
tr.vibracart_item_even{
	background-color: #f1f1f1;
}

/* Item delete button */
td.vibracart_itemdelete{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 0px;
  vertical-align: top;
  width: 15px;
}
p.vibracart_itemdelete{
  float: left;
	text-align: left;
	cursor: pointer;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* Item quantity */
td.vibracart_itemquantity{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 0px;
  vertical-align: top;
	width: 40px;
}
p.vibracart_itemquantity{
  float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
input.vibracart_itemquantity{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 2em;
	background-color: white;
	border: black solid 1px;
}

/* Item Image */
td.vibracart_itemimage{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 0px;
  vertical-align: top;
  width: 50px;
}
p.vibracart_itemimage{
  float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
img.vibracart_itemimage{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: white;
	border: #bdbdbd solid 1px;
	width: 45px;
}

/* Item description */
td.vibracart_itemdescription{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 0px;
  vertical-align: top;  
}
p.vibracart_itemdescription{
  float: left;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
  margin: 0 0 0 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemdiscount{
  float: left;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
  margin: 0 0 0 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemcoupon{
  float: left;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
  margin: 0 0 0 0;
  line-height: normal;
  padding: 0;
}

div.vibracart_itemidclear{
  clear: both;
}
p.vibracart_itemid{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #9C9C9C;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
a.vibracart_itemid{
	color: #9C9C9C;
	text-decoration:underline;
}
a.vibracart_itemid:link{
	color: #9C9C9C;
	text-decoration:underline;
}
a.vibracart_itemid:visited{
	color: #9C9C9C;
	text-decoration:underline;
}
a.vibracart_itemod:hover{
	color: #9C9C9C;
	text-decoration:underline;
}
a.vibracart_itemid:active{
	color: #9C9C9C;
	text-decoration:underline;
}
div.vibracart_itemoptionclear1{
  clear: both;
}
p.vibracart_itemoptionname1{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection1{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear2{
  clear: both;
}
p.vibracart_itemoptionname2{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection2{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 00;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear3{
  clear: both;
}
p.vibracart_itemoptionname3{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection3{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear4{
  clear: both;
}
p.vibracart_itemoptionname4{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection4{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear5{
  clear: both;
}
p.vibracart_itemoptionname5{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection5{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear6{
  clear: both;
}
p.vibracart_itemoptionname6{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection6{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}
div.vibracart_itemoptionclear7{
  clear: both;
}
p.vibracart_itemoptionname7{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: normal;
	text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_itemoptionselection7{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  line-height: normal;
  padding: 0;
}

/* Item price */
div.vibracart_itempriceclear{
  clear: both;
}
p.vibracart_itemprice{
  float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
	font-weight: normal;
	text-align: left;
	height: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
  padding: 0;
}
/* Item total */
td.vibracart_itemtotal{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
	padding-right: 0px;
	text-align: right;
	vertical-align: top;
}
p.vibracart_itemtotal{
  float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	text-align: right;
  line-height: normal;
  padding: 0;
	margin: 0 0 0 0;
}

/*
  Widget styles
*/
div.vibracart_widget{
  position: fixed;
  overflow: hidden;
 	visibility: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: red solid 1px;
  background-image: none;
  background-repeat: repeat-x;
  background-position: bottom left;
  background: url(widgetgradient.gif) repeat-x;
  z-index: 998;
}
p.vibracart_widget_image{
  text-align: center;
	margin: 5px 0 5px 0;
	cursor: pointer;
  line-height: normal;
  padding: 0;
}
p.vibracart_widget_items{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: center;
	margin: 5px 0 0 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_widget_total{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: bold;
	text-align: center;
	margin: 5px 0 5px 0;
  line-height: normal;
  padding: 0;
}
p.vibracart_widget_view{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: center;
	margin: 5px 0 5px 0;
	color: #373737;
  line-height: normal;
  padding: 0;
}
p.vibracart_widget_check{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: center;
	margin: 5px 0 5px 0;
	color: #373737;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_view{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: center;
	margin: 5px 0 5px 0;
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_view:link{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_view:visited{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_view:hover{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_view:active{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_check{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: blue;
	font-weight: normal;
	text-align: center;
	margin: 5px 0 5px 0;
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_check:link{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_check:visited{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_check:hover{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
a.vibracart_widget_check:active{
	color: #373737;
	text-decoration:underline;
  line-height: normal;
  padding: 0;
}
