@charset "UTF-8";

#nav_box {
  width:100%;
  height:30px;
  margin:0px;
  background:#26466D; 
}   

.jqueryslidemenu {
  font: 1.2em Verdana, Geneva, sans-serif;
  font-weight:bold;
  background:#26466D; 
  width: 100%;
}

.jqueryslidemenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jqueryslidemenu ul li {
  z-index:2;
  position: relative;
  display: inline;
  float: left;
}

.jqueryslidemenu ul li a {
  display: block;
  background:#26466D; 
  color: white;
  padding: 6px 10px;
  border-right: 1px solid #778;
  color: #2d2b2b;
  text-decoration:none;
}

* html .jqueryslidemenu ul li a {
  display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited {
  color: white;
}

.jqueryslidemenu ul li a:hover {
  background: black;
  color: white;
}

.jqueryslidemenu ul li ul {
  z-index:2;
  position: absolute;
  left: 0;
  display: block;
  visibility: hidden;
}

.jqueryslidemenu ul li ul li {
  z-index:2;
  position:relative;
  display: list-item;
  float: none;
}

.jqueryslidemenu ul li ul li ul {
  z-index:2;
  position: absolute;
  top: 0;
}

.jqueryslidemenu ul li ul li a {
  font:Verdana, Geneva, sans-serif;
  font-weight:normal;
  width: 16em; /*width of sub menus*/
  padding: 5px;
  margin: 0;
  border-top-width: 0;
  border-bottom: 1px solid gray;
}

.downarrowclass {
  z-index:2;
  position: absolute;
  top: 12px;
  right: 7px;
}

.rightarrowclass {
  z-index:2;
  position: absolute;
  top: 6px;
  right: 5px;
}

* html .jqueryslidemenu {
  height: 1%;
}

