@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse;border-spacing:0; }

body {
	width:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	background-color:#FFF;
}

#playground {
	width:80%;
	max-width:960px;
	min-width:960px;
	margin:30px auto;
    background-color:#FFF;
}

#site_logo {
	width:100%;
	margin:0;
	padding:0;
}

#site_logo img {
	border:none;
	cursor:pointer;
}

.social_links {
  width:100%;
  height:30px;
  margin-top:6px;
  background:#FFF; 
}   

.social_logo {
   float:right;
   padding-top:5;
   margin:0 6px 0 3px;
   border:none;
   cursor:pointer;	
}

#content {
	width:100%;
}

#column {
	width:95%;
	height:100%;
	margin:0px;
	padding:0px 12px;	
}

.pageTitle {
	font-size:2em;
	font-weight:bold;
	color:#134E77;
	margin:25px 0 10px 0;
}

.pageSubTitle {
	font-size:1.8em;
	color:#333;
	margin:0 0 20px 0;
}

.pageTitle a {
	color:#134E77;
	text-decoration:none;
}

.pageTitle a:hover { 
	color:#550000;
	font-weight:normal;
	font-style:italic;
	text-decoration:underline;
}

.pageSubTitle a {
	color:#550000;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
}

.pageSubTitle a:hover {
	color:#550000;
	font-weight:normal;
	font-style:italic;
	text-decoration:underline;	
}

h1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.5em;
	font-weight:bold;
	color:#134E77;
	margin-bottom:8px;
}

h2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.2em;
	font-weight:bold;
	font-style:italic;
	color:#134E77;
	margin-bottom:8px;
}

.pink_dot_repeat {
   background-image:url(../_grafix/pink_dot.gif);
   background-repeat:repeat-x;   
   width:97.5%;	
}

ul.a {
   list-style-type: none;
   padding:0px;
   margin:0px;
}

ul.a li.a {
   background-image: url(../_grafix/blue_ck.gif);
   background-repeat: no-repeat;
   background-position: 0px 9px; 
   padding-left: 21px; 
   line-height:2em;
}

ul.b {
   list-style-type: none;
   padding:0px;
   margin:0px;
}

ul.b li.b {
   background-image: url(../_grafix/pink_sq.gif);
   background-repeat: no-repeat;
   background-position: 0px 12px; 
   padding-left: 21px; 
   line-height:2em;
}

sub, sup {
    font-size:55%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sup { top: -1em; } 
sub { bottom: -1em; }

.item {
	width:100%;
	margin:0px;
	margin-bottom:26px;
	padding:0px;
}

.item .text {
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	font-size:1.5em;
	color:#000;	
	line-height:1.8em;	
}

.item .text a {
	color:#550000;
	font-style:italic;
	text-decoration:none;
}

.item .text a:hover {
	color:#2A3FAA;
	text-decoration:underline;
	font-style:italic;
}

.sponsor_title {
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
   font-size:1.5em;
   font-weight:bold;
}

.ceu_section {
   clear:both;	
   width:99%;	
}

.ceu_asha_logo_box {
	width:75%;
	margin:12px;
}

.ceu_logo_box {
	float:left;
	position:relative;
	width:45%;
	margin:12px;
}

.ceu_logo_box img {
	border:none;
}

.ceu_logo_box .caption, .ceu_asha_logo_box .caption {
	font:1.1em Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#333;
}

.ceu_sponsor_box {
	float:right;
	width:20%;
	position:relative;
	top:40px;
}

.ceu_sponsor_box img {
	border:none;
}

.paypal_section {	
   width:98%;
   margin:0px;
   padding:0 12px;
   border:1px dotted #134E77;
}

.paypal_section .text {
	color:#134E77;
	font-size:1.3em;
	margin:12px 0px;
	line-height:1.3em;
}

.paypal_section .text_l {
	color:#134E77;
	font-size:1.4em;
	margin:12px 0px;
	line-height:1.3em;
}
	
.paypal_box {
	float:left;
	width:28%;
	margin-left:8px;
	padding:3px 0;
	text-align:center;
}

.paypal_box .hed {
	color:#134E77;
	font-size:1.5em;
	font-weight:bold;
}

.paypal_box .text {
	font-family:"Courier New", Courier, monospace;
	color:#134E77;
	font-size:1.3em;
	font-weight:bold;
	margin:0px;
	text-align:normal;
	line-height:1.3em;
}

.faculty_box_l {
	float:left;
	width:49%;
	margin:0 0 20px 0;
	font-size:1.1em;
}

.faculty_box_r {
	float:left;
	width:45%;
	margin:0 0 20px 30px;
	font-size:1.1em;	
}

.faculty_box_l .bld, .faculty_box_r .bld {
   font-weight:bold;	
}
	
.form_section {
   width:100%;
   margin:21px 0px;
   padding:0px;
   border:1px dotted #134E77;
}

.form_section .box {
   width:90%;
   margin-left:auto;
   margin-right:auto;
   padding:16px 8px;
}

.signUp .hed {
	color:#134E77;
	font-size:1.5em;
	font-weight:bold;
	margin:12px 0px;
}

.signUp .text {
	color:#134E77;
	font-size:1.1em;
	font-weight:bold;
	margin:4px 0px 8px 0px;
	line-height:1.3em;
}

.signUp label {
   padding:3px 0;
   font-family:Verdana, Geneva, sans-serif;
   font-size:1.2em;
   color:#000;   	
}

.signUp input {
	height:1.8em;
	margin-top:6px;
	margin-bottom:12px;
	padding-left:3px;
	background-color:#FFFFCC;
    font-family:"Courier New", Courier, monospace;
    font-size:1.2em;
    color:#000;		
}

.signUp textarea {
    margin:6px 0px;
	padding:8px;
	background-color:#FFFFCC;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:1.2em;
    color:#000;		
}

.signUp .error_msg {
   width:100%;
   margin:12px 0;
   color:red;
   font-family:Verdana, Geneva, sans-serif;
   font-size:1.2em;
   font-weight:bold;   
}

/*
.signUp button {
  margin:0; 
  margin-top:8px;
  text-align:center; 
  width:30em;
  cursor:pointer;
 }
 */
 
.signUp button {
   width:100%;
   margin:16px 0px;	
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-weight:bold;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.signUp button:hover {
   border-top-color: #319c1c;
   background: #319c1c;
   color: #ffffff;
}
.signUp button:active {
   border-top-color: #1b435e;
   font-weight:bold;
   background: #1b435e;
} 

.hotel_box {
   clear:both;	
   width:98.5%;
   border:1px dotted #134E77;
   padding:6px;	
}

.hotel_box .img_box {
   width:20%;
   float:left;
   border:none;
   cursor:pointer;
}

.hotel_box img {
   border:none;
}

.hotel_box .text {
   width:65%;
   margin-left:18px;
   float:left;
   font-family:Tahoma, Geneva, sans-serif;
   font-size:1.3em;
   line-height:1.5em;
}

.captcha_box {
    clear:both;	
    width: 100%; 
    margin:8px 0;	
}

.captcha_box input {
	height:1.8em;
	margin:6px 0px;
	padding-left:4px;
	background-color:#FFFFCC;
    font-family:"Courier New", Courier, monospace;
    font-size:1.5em;
    font-weight:normal;
    color:#000;		   	
}

.captcha_box label {
   width:100%;
   margin:12px 0px;
   font-family:Verdana, Geneva, sans-serif;
   font-size:1.1em;
   font-weight:normal;
   color:#000; 	   	
}

.error {
	margin:21px 0px;
	font:2.6em "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:bold;
	color:red;
}

.error a {
   color:red;
   text-decoration:underline;
}

.error a:hover {
   color:red;
   font-style:italic;
   text-decoration:underline;
}

.sent {
	margin:21px 0px;
	font:2.6em "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-weight:bold;
	color:green;	
}

.sent .text {
	margin:8px 0px 21px 0px;
	font-size:.7em;
}

.sent .text a {
    color:#550000;
	text-decoration:underline;	
}

.sent .text a:hover {
    color:#550000;
	text-style:italic;
	text-decoration:underline;	
}

.bold {
	font-weight:bold;
}

/* ####################### */

.dload_brochure {
  width:100%;
  margin:12px 0px;
  padding:8px 0px;
  background-color:#F2FBFF;
}

.dload_brochure label {
  font:1.4em Verdana, Geneva, sans-serif;
  color: #333;	
}

.dload_brochure input {
  width:15%;
}

.dload_error {
  font:16px "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-weight:bold;
  text-align:center;
  color:red;
}

.dload_pword {
   width:100%;	
   margin-top:6px;
   margin-bottom:0px;	 
}

.dload_pword label {
   height:24px;
   font-fmaily:Verdana, Geneva, sans-serif;
   font-size:1.5em;
   font-weight:bold;
   color:#060;  	
   margin-right:8px;
}

.doad_pword input {
   height:28px;
   width:200px;
   padding:3px;
   margin-right:8px;
   font-size:1.5em;
   background-color:#FFFFF9;	
}
 
#footer {
	clear:both;
	margin:10px 0;
	padding: 10px;
	/*border-top: 1px solid #CCCCCC;*/
	text-align:center;
	font-family:"Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
}

#footer .menu {
	clear:both;
	margin:15px 0px;
	padding:8px;
	border:1px dotted #F6C;
	background-color:#F4F4F4;
	font-size:1.5em;
	color:#134E77;
}

#footer .copy {
	clear:both;
	font-size:1.2em;
	color:#134E77;
	margin-bottom:1px;
}

#footer .credit {
	clear:both;
	font-size:1.1em;
	color:#134E77;
}

#footer a {
	color:#134E77;
	text-decoration:none;
}

#footer a:hover {
	color:#6B352C;
	text-decoration:underline;
}

.ui-accordion .list {
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
   width:100%;
   border:none;	
}

.ui-accordion .list td {
   font-size:1.2em;	
   color:#222222;
   text-align:left;
   font-weight:normal;
   font-style:normal;
   height:1.5em;
   padding:.4em;		
}

.ui-accordion .list td.mod {
	font-size:1.5em;
	color:#550000;
	text-align:center;
	font-weight:bold;
	font-style:italic;
}

.ui-accordion .list .bld, .ui-accordion .item .bld {
	font-weight:bold;
}

.ui-accordion .list .ital {
	font-style:italic;
}

.ui-accordion .list .valine {
	width:5%;
	valign:top;
	font-weight:bold;
	font-style:italic;
}

.spacer_36 {
	clear:both;
	width:100%;
	margin:36px 0;
}

.spacer_26 {
	clear:both;
	width:100%;
	margin:26px 0;
}

.spacer_12 {
	clear:both;
	width:100%;
	margin:12px 0;
}

.spacer_6 {
	clear:both;
	width:100%;
	margin:6px 0;
}

.clearAll {
	clear: both;
	margin: 0;
}